.c{
    background: #9C27B0;
    width: 50%;
    height: 16vh;
    margin: 0;
    padding: 0;
    margin: auto;
    padding: 0px 0 0 30px;
    border-radius: 20px;

}
.h1 {
    text-align: center;
    width: 100%;
}