.a{
    background: #330136;
    color: white;
    height: 45vh;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
}
.h1 {
    text-align: center;
    width: 100%;
}

.btn {
    border: 0;
    background: #FF5E35;
    padding: 6px 19px;
    margin: 5px;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
    box-shadow: 2px 5px 10px #ff5e3585;
}

.input {
    padding: 4px;
    border: transparent;
    border-radius: 3px;
}