.a{
    background: gold;
    height: 45vh;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
}
.h1 {
    text-align: center;
    width: 100%;
}

.btn {
    border: 0;
    background: #8BC34A;
    padding: 6px 19px;
    margin: 5px;
    border-radius: 3px;
    color: #2b2d36;
    font-weight: bold;
    box-shadow: 2px 5px 10px #8bc34aa8;
}

.input {
    padding: 4px;
    border: transparent;
    border-radius: 3px;
}