.b{
    background: #5E1742;
    color: white;
    width: 50%;
    height: 44vh;
    padding: 0px 0 0 30px;
    margin: auto;
    border-radius: 20px;

}
.h1 {
    text-align: center;
    width: 100%;
}